---
title: "Home"
---


<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
	<div class="front-page" id="cover-menu">
		<center>
			<a href="javascript:;" onclick="coverSwitch()">
				<img class="img-thumbnail front-profile" width="150px" src="{{ site.baseurl }}/assets/img/profile1.png">
			</a>

			<h3 class="ltr-sp">
				<span class="eng">LUCA<span class="theme">S</span>TUDIO</span>
				<span class="chn">盧卡斯工作室</span>
			</h3>
			<p class="slim text-uppercase" id="divTyping">_</p>

			<p style="margin: 2em 0;">
				<a class="btn btn-sm btn-round" href="{{ site.baseurl }}/services.html">
					<span class="glyphicon glyphicon-briefcase"></span> &nbsp;
					<span class="eng">Services</span>
					<span class="chn">服務</span>
				</a>
				&nbsp;
				<a class="btn btn-sm btn-round" href="{{ site.baseurl }}/about.html">
					<span class="glyphicon glyphicon-info-sign"></span> &nbsp;
					<span class="eng">About</span>
					<span class="chn">關於</span>
				</a>
				&nbsp;
				<a class="btn btn-round btn-sm" href="{{ site.baseurl }}/contact.html">
					<span class="glyphicon glyphicon-envelope"></span> &nbsp;
					<span class="eng">Contact</span>
					<span class="chn">聯絡</span>
				</a>
			</p>

			<div style="position: absolute; bottom: 0; width: 100%; line-height: 50px; height: 50px; border-top: 1px solid #ddd;">
				<p class="small gray no-link">
					&copy;
					<span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
					<span class="chn">盧卡斯工作室</span>
					<span class="eng">LucaStudio</span>
					&sdot;

					<span class="glyphicon glyphicon-stats"></span>
					&sdot;

					<a href="javascript:;" onclick="favorites()">
						<span class="glyphicon glyphicon-star"></span>
					</a>
					&sdot;

					<span class="glyphicon glyphicon-globe"></span>
					<span class="eng"><a href="javascript:;" onclick="abc()">中文</a></span>
					<span class="chn"><a href="javascript:;" onclick="abc()">ENG</a></span>
				</p>
			</div>
		</center>

		<!-- Favorite Starts -->
		<div class="favorites">
			<p class="center bold">
				<span class="eng">Chance Favors the Prepared Mind</span>
				<span class="chn">機遇垂青有準備的人</span>
			</p>


			<a href="https://lucaslionline.github.io/lucas/" target="_blank" class="cloth-icon">
				<i data-feather="home" style="font-size: x-large;"></i><br>
				<span class="chn">盧卡斯</span>
				<span class="eng">Lucas</span>
			</a><a href="https://lucaslionline.github.io/story/" target="_blank" class="cloth-icon">
			<i data-feather="edit" style="font-size: x-large;"></i><br>
			<span class="chn">日誌</span>
			<span class="eng">Story</span>
		</a>
	</div>
	<!-- Favorite Ends -->
</div>




<div class="front-page" id="cover-widget">
	<a href="javascript:;" onclick="coverSwitch()">
		<span class="cover-close"><i data-feather="x-square"></i></span>
	</a>

	<div class="col-sm-4 center">
		<div style="margin: -1em 0;">
			{% include clock.html %}
		</div>

		<div class="text-uppercase widget-date ltr-sp">
			<span>
				<script type="text/javascript">
				var day = new Date().getDay();
				var week;
				var arr_week = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday");
				week = arr_week[day];
				document.write(week);
				</script>
			</span><br>
			<span class="slim" style="font-size: 300%;">
				<script type="text/javascript">
				document.write(new Date().getDate());
				</script>
			</span><br>
			<span class="slim">
				<script type="text/javascript">
				var month_id = new Date().getMonth();
				var arr_month = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
				var month = arr_month[month_id];
				var year = new Date().getFullYear();
				document.write(month + " " + year);
				</script>
			</span>
		</div>

		<div>
			<strong>
				<span class="eng">
					<script type="text/javascript">greetingEng();</script>
				</span>
				<span class="chn">
					<script type="text/javascript">greetingChn();</script>
				</span>
			</strong>
		</div>
	</div>

	<div class="col-sm-8">

	</div>
</div>
</body>
</html>



<script>
var str = 'Learning to be a giant...';
var i = 0;
function typing() {
	var divTyping = document.getElementById('divTyping');
	if (i <= str.length) {
		divTyping.innerHTML = str.slice(0, i++) + '_';
		setTimeout('typing()', 200);
	} else {
	divTyping.innerHTML = str;//结束打字,移除 _ 光标
}
}
typing();
</script>


<script>feather.replace()</script>