---
layout: default
title: "Portfolio"
---

<p class="page-title">
	<span class="btn btn-sm btn-round btn-highlight disabled">
		<span class="glyphicon glyphicon-folder-open"></span> &nbsp;
		<span class="chn">作品</span>
		<span class="eng">PORTFOLIO</span>
	</span>
</p>



<ul class="picView-magnify-store list-unstyled row">
	<div class="col-sm-6">
		{% include items/item3.html %}
	</div>

	<div class="col-sm-6">
		{% include items/item2.html %}
	</div>
</ul>



<p class="page-nav">
	<span class="btn btn-round btn-sm disabled">
		<span class="eng">PREV</span>
		<span class="chn">上一頁</span>
	</span>
	
	<span class="btn btn-round btn-sm btn-highlight disabled">1</span>

	<span class="btn btn-round btn-sm disabled">
		<span class="eng">NEXT</span>
		<span class="chn">下一頁</span>
	</span>
</p>


