{% if page.previous.url %}
<a class="btn btn-round btn-sm" href="{{ site.baseurl }}{{ page.previous.url }}">
	<span class="eng">PREV</span>
	<span class="chn">上一篇</span>
</a>
{% else %}
<span class="btn btn-round btn-sm disabled">
	<span class="eng">PREV</span>
	<span class="chn">上一篇</span>
</span>
{% endif %}

{% if page.next.url %}
<a class="btn btn-round btn-sm pull-right" href="{{ site.baseurl }}{{ page.next.url }}">
	<span class="eng">NEXT</span>
	<span class="chn">下一篇</span>
</a>
{% else %}
<span class="btn btn-round btn-sm disabled pull-right">
	<span class="eng">NEXT</span>
	<span class="chn">下一篇</span>
</span>
{% endif %}
