<!--====================== item 2 ========================-->
<li>
	<a href="javascript:void(0)" data-magnify="item2" data-group="i2" data-src="{{ site.baseurl }}/assets/img/portfolio/drawings/bowing_to_him.jpg" data-caption="Bowing To Him">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/portfolio/drawings/bowing_to_him.jpg) center center; background-size: cover;"></div>
	</a>

	<h5>
		<span class="chn">鉛筆素描集</span>
		<span class="eng">Pencil Sketches</span>
	</h5>
	
	<p>
		<small>2014-11-02</small>
		<span class="btn btn-sm btn-round x-small pull-right disabled">
			<span class="glyphicon glyphicon-shopping-cart"></span>
			<span class="chn">購買</span>
			<span class="eng">Buy</span>
		</span>
	</p>
</li>

<li class="hide">
	<a href="javascript:void(0)" data-magnify="item2" data-group="i2" data-src="{{ site.baseurl }}/assets/img/portfolio/drawings/dan_stevens.jpg" data-caption="Dan Stevens">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/drawings/dan_stevens.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item2" data-group="i2" data-src="{{ site.baseurl }}/assets/img/portfolio/drawings/parker_ellis.jpg" data-caption="Parker Ellis">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/drawings/parker_ellis.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item2" data-group="i2" data-src="{{ site.baseurl }}/assets/img/portfolio/drawings/leonardo_dicaprio.jpg" data-caption="Leonardo Dicaprio">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/drawings/leonardo_dicaprio.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item2" data-group="i2" data-src="{{ site.baseurl }}/assets/img/portfolio/drawings/brokeback_mountain.jpg" data-caption="Brokeback Mountain">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/drawings/brokeback_mountain.jpg) center center; background-size: cover;"></div>
	</a>
</li>