<!--====================== item 3 ========================-->
<li>
	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/aerial_view.png" data-caption="Aerial View">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/portfolio/sdc/aerial_view.png) center center; background-size: cover;"></div>
	</a>

	<h5>
		<span class="chn">中國國際太陽能十項全能競賽標準化場地</span>
		<span class="eng">Standardized Site of Solar Decathlon China</span>
	</h5>
	<p>
		<small>2019-04-23</small>
		<a href="#" class="btn btn-sm btn-round x-small pull-right">
			<span class="glyphicon glyphicon-info-sign"></span>
			<span class="eng">Info</span>
			<span class="chn">詳情</span>
		</a>
	</p>
</li>
<li class="hide">
	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/top_view.jpg" data-caption="Top View">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/top_view.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/main_entrance1.jpg" data-caption="Main Entrance">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/main_entrance1.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/main_entrance2.jpg" data-caption="Main Entrance">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/main_entrance2.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/competition_entries.jpg" data-caption="Competition Entries">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/competition_entries.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/community_playground.jpg" data-caption="Community Playground">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/community_playground.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/signage.jpg" data-caption="Signage">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/signage.jpg) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/tour_route.png" data-caption="Tour Route">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/tour_route.png) center center; background-size: cover;"></div>
	</a>

	<a href="javascript:void(0)" data-magnify="item3" data-group="i3" data-src="{{ site.baseurl }}/assets/img/portfolio/sdc/construction_route.png" data-caption="Construction Route">
		<div class="picThumb" style="background: url({{ site.baseurl }}/assets/img/pics/portfolio/sdc/construction_route.png) center center; background-size: cover;"></div>
	</a>
</li>